.intro
{
    background-color:#F3F4ED;
    padding-top:100px;
    text-align: center;
}
.skills{
background-color:#536162;
  text-align: center;
  border-bottom: 0;
  padding: 10px;


}

.skill-row{
  color:#D67D3E;
  width:50%;
  margin: 80px auto 130px auto;
  text-align: left;

}
.skills1{
  color: #F3F4ED;
  text-align: left;
  line-height: 2;
}

.img-skills{
  width:25%;
  height: 25%;
  float:right;
  margin-left: 30px;
}

.bottom-container{
  background-color:#C06014;
  margin-top:0;
  text-align: center;
  padding: 10px;
}
.cloud{
  position:absolute;

}
.name{
  font-family: 'Montserrat', sans-serif;
  font-size: 562.5%;
  margin-bottom:50px;
  line-height: 2;
}

.footer-link{
  color:#F3F4ED;
  margin: auto 10px auto auto;

}

.cloud-top{
  position:absolute;
  margin-left: 200px;
}

.btn {
  background: #1c2124;
  background-image: -webkit-linear-gradient(top, #1c2124, #4d4e4f);
  background-image: -moz-linear-gradient(top, #1c2124, #4d4e4f);
  background-image: -ms-linear-gradient(top, #1c2124, #4d4e4f);
  background-image: -o-linear-gradient(top, #1c2124, #4d4e4f);
  background-image: linear-gradient(to bottom, #1c2124, #4d4e4f);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #f7f2c3;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #afbec7;
  background-image: -webkit-linear-gradient(top, #afbec7, #353d42);
  background-image: -moz-linear-gradient(top, #afbec7, #353d42);
  background-image: -ms-linear-gradient(top, #afbec7, #353d42);
  background-image: -o-linear-gradient(top, #afbec7, #353d42);
  background-image: linear-gradient(to bottom, #afbec7, #353d42);
  text-decoration: none;
}
.contact-me{
  margin:auto auto 30px auto;
}
body{
  display: block;
  margin: 0;
  font-family: 'Lato', sans-serif;

}
h2{
  font-size:2rem;
  font-weight: normal;
}
